.navbar-custom {
    background-color: black;
}

.navbar-brand {
    color: #e7d19f;
}

.btnside {
    background-color: #e7d19f;
    color: black;
    border: 2px solid black;
    height: 100%;
}

.btnside:hover {
    background-color: #830102;
    color: white;
    transition: all 0.3s ease-in-out;
    /* duration and easing */
    transform: scale(1.05);
    /* smooth enlargement */
    box-shadow: 3px 3px 0px black;
}

.btntoggle {
    display: block;
    margin: 0 auto;
}

.section1 {
    background-image: url('moviebackground.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
}

.tickets {
    padding: 10px 20px;
    display: inline-block;
    height: 600px;
}

.title{
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:40px;
}

h1 {
    color: #e7d19f;
    font-size: 40px;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.h1text {
    font-size: 55px;
    text-align: center;
    padding: 10px;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    color: #e7d19f;
    font-size: 175px;
    font-family: 'Playfair Display', serif;
}

.h2text {
    font-size: 20px;
}

h3 {
    color: black;
    font-size: 20px;
}

.h3text {
    font-size: 20px;

}

.bigbeigebox {
    background-color: #e7d19f;
    padding: 20px;
    border-radius: 10px;
}

p {
    color: #b18666;
    font-size: 100px;
    text-shadow: 10px 5px 5px black;
    font-family: 'Playfair Display', serif;
}

.ticker {
    background-color: #e7d19f;
    padding: 0.5rem 0;
    overflow: hidden;
    white-space: nowrap;
}

.ticker__track {
    display: inline-flex;
    animation: ticker-scroll 25s linear infinite;
}

.ticker__item {
    font-family: JetBrains Mono;
    font-size: 1 rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-bg-primary);
    padding: 0 2.5rem;
}

@keyframes ticker-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.section2 {
    background-color: #830102;
}

.pics {
    padding: 20px;
    display: inline-block;
    height: 600px;
}

.section1collect {
    background-image: url(popcornred.png)
}